export-ignore .forgejo
export-ignore .github
export-ignore spec
export-ignore .editorconfig
export-ignore docs
export-ignore mkosi.build.chroot
export-ignore mkosi.local.conf
export-ignore .gitignore
export-ignore .rspec
export-ignore Rakefile
export-ignore icon.png
export-ignore scripts
export-ignore RELEASING.md
