[Unit]
Description=CollectRack web daemon
Requires=network.target
After=collectd.service

[Service]
Type=notify
WorkingDirectory=/opt/collectrack
Environment=WEB_CONCURRENCY=auto
ExecStart=/opt/collectrack/bin/puma -e production
Restart=on-failure
WatchdogSec=10
BindReadOnlyPaths=-/etc/collectd.conf /var/lib/collectd
Group=collectd

[Install]
WantedBy=multi-user.target
