h2 #{link("/", ".")}/#{link(@host)}/#{link(@plugin)}/#{link(@instance)}/#{@file}
ul.inline
  - for file in @instance.files
      li.inline = link file

== slim :'partials/spans', layout: nil

= @file.graph_img(@query)

pre#code = @file.info.pretty_inspect
