h2 <a href="/">.</a>/#{@host.a}/#{@plugin.a}/#{@instance.a}/#{@file}
ul.inline
  - for file in @instance.files
      li.inline = file.a

== slim :'partials/spans', layout: nil

= @file.graph_img(@query)

pre#code = @file.info.pretty_inspect
