* {
  color: DarkSlateGray;
}

a {
  color: crimson;
}

body {
  background-color: WhiteSmoke;
}

li#instance {
  display: inline-block;
  margin-right: 10px;
}

ul#instances {
  padding-left: 0;
  margin-bottom: 10px;
}

span#load {
  margin-right: 10px;
}

li#host a {
  width: 200px;
  display: inline-block;
}

pre#code {
  /* background-color: DarkSlateGray; */
  color: crimson;
  font-size: 12pt;
}
