/* For no particular reason at all, CollectRack explicitly uses built-in HTML colors */
/* See https://drafts.csswg.org/css-color/#named-colors */

* {
  color: darkslategrey;
}

a {
  color: crimson;
}

body {
  background-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  * {
    color: whitesmoke;
  }
  button, input, select {
    color: crimson;
  }
}

li.inline {
  display: inline-block;
  margin-right: 10px;
}

ul.inline {
  padding-left: 0;
  margin-bottom: 10px;
}

span#load {
  margin-right: 10px;
}

li#host a, li#plugin a {
  width: 200px;
  display: inline-block;
}

pre#code {
  /* background-color: DarkSlateGray; */
  color: crimson;
  font-size: 12pt;
}

.bold {
  font-weight: bold;
}
